# Edit and copy to config.yml
gitlab:
  endpoint: 'https://gitlab.com/api/v3'
  private_token: 'tOkEn'
  project_id: 11
github:
  project_user: 'github_user'
  project_repo: 'github_repo'
user_mapping:
  gitlabusername1: 'githubtoken'
  gitlabusername2: 'githubtoken'
milestone_mapping:
  gitlabmilestonename1: githubmilestoneid1
  gitlabmilestonename2: githubmilestoneid2
gitlab_user_to_github_user_mapping:
  gitlabusername1: 'githubusername1'
  gitlabusername2: 'githubusername2'

